# 
# Clock.app
# 
# Copyright:: (c) 2016 Innotronic Ingenieurbüro GmbH
# URL::       http://www.inno.ch/
# Author::    Markus Meier

# AppStore assets
/AppStore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcscheme

## Obj-C/Swift specific
*.hmap
*.ipa

# Logs and temporary files
*.log

# Other files
*.swp
*~
.DS_Store
.secret
